body{  
  background-image: url(Artboard%202.png);
background-size: cover;
background-repeat: no-repeat;
      overflow: hidden;
      background-position: center;


}  
 
.centered {
  position: absolute;
  top: 30%;
  left: 35%;
    bottom: 30%;
  margin-top: -50px;
  margin-left: -50px;
transform: translate(-10%, -45%);
}
#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(dab.gif) no-repeat center center;
    background-size: 15%;
  z-index: 100;
}